
footer{
    background: #E5E5E5;
    display: flex;
    text-align: center;
    padding: 1em;

}
.fone{
    width: 70px;
    padding-left: 2em;
}
.contato{
    display: flex;
    justify-content: space-around;
}

@media  screen and (min-width :0) {
    .fone{
        width: 30px;
        padding-left: 1em;
    }
  }
  
