

    
    
.imgfundo{
    text-align: center;
}
.quem-somos__titulo{
    font-size: 40px;
    font-weight: 400;
    font-family: Pacifico;
    color: #8D0606;
    text-align: center;
}
.quem-somos__descricao{
    font-size: 28px;
    font-weight: 300;
    text-align: center;
    color: #8C8888;
}